@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.App {
  text-align: center;
  font-family: "Mersad";
  position: relative;
  display: block;
  overflow: clip;
}

.darkThemeFont {
  color: white;
}

.lightThemeFont {
  color: #181a18;
}

.darkThemeFont:hover {
  color: white;
}

.lightThemeFont:hover {
  color: #181a18;
}

.App #darkBackground {
  width: 100%;
  height: 100%;
  background-color: #221e1e;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.App #lightBackground {
  width: 100%;
  height: 100%;
  background-color: #f3ece7;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: right;
  z-index: 1;
  position: relative;
  margin-left: auto;
  padding-top: 30px;
}

nav a {
  margin: auto;
  text-decoration: none;
}

nav p {
  text-align: center;
  display: inline-block;
  font-family: "Mersad";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-transform: uppercase;
  cursor: pointer;
}

nav p:hover {
  font-weight: 600;
}

nav img {
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
}

.App .marquee {
  position: relative;
}

.backgroundLight {
  background-color: #d9d9d9;
}

.backgroundDark {
  background-color: #3d3d3d;
}

.App .marquee #psd {
  display: flex;
  border: none;
  outline: none;
  padding: 20px 0px;
  margin-top:150px;
}

.App .marquee #psd img {
  display: block;
  margin-right: 22px;
  height: 36px;
}

.App #starAndExperience {
  width: 100%;
  position: relative;
}

.App #starAndExperience #sideStar {
  position: absolute;
  width: 450px;
  height: 450px;
  right: -50px;
  bottom: -220px;
}

.App #lineAndWork {
  width: 100%;
  position: relative;
}

.App #lineAndWork #lineShape {
  position: absolute;
  width: 200px;
  height: 425px;
  left: -20px;
  bottom: -125px;
  z-index: 0;
}

.App #themeChangeMask {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App #scrollToTopButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  display: none;
}

.App #scrollToTopButton img {
  width: 60px;
  height: 60px;
}

.buttonBackgroundDark {
  background-color: #221e1e;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 2px #aaa;
  -moz-box-shadow: 0 0 10px 2px #aaa;
  box-shadow: 0px 0px 10px 2px #aaa;
}

.buttonBackgroundLight {
  background-color: #f3ece7;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 2px gray;
  -moz-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0px 0px 10px 2px gray;
}

.App #dialogDiv{
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top :0px;
}

.App #dialogDiv #sliderImageViewDialog{
  width: 100%;
  height: 100%;
  position: relative;
  background: none;
}

.App #dialogDiv #sliderImageViewDialog img{
  display: block;
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  border-radius: 24px;
  animation-name: zoomIn;
  animation-duration: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App #dialogDiv #brandIdentityPreviewDialog{
  width: 100%;
  height: 100%;
  position: relative;
  background: none;
  overflow-y: scroll;
}

.App #dialogDiv #brandIdentityPreviewDialog ::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App #dialogDiv #brandIdentityPreviewDialog #images{
  position: absolute;
  max-width: 80%;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.App #dialogDiv #brandIdentityPreviewDialog #images #img{
  display: block;
  /* position: absolute; */
  width: 100%;
}

.App #dialogDiv #brandIdentityPreviewDialog #images #gif{
  display: block;
  /* position: absolute; */
  width: 100%;
}

.App #dialogDiv #videoPlayerDialog{
  width: 100%;
  height: 100%;
  position: relative;
  background: none;
}

.App #dialogDiv #videoPlayerDialog iframe{
  display: block;
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  border-radius: 24px;
  animation-name: zoomIn;
  animation-duration: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App #dialogDiv #websitePreviewDialog{
  width: 100%;
  height: 100%;
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.App #dialogDiv #websitePreviewDialog #closeDialogButton{
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.App #dialogDiv #websitePreviewDialog #switchButton{
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  background-color: #070606;
  width: 200px;
  height: 30px;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
  width: 900px;
  aspect-ratio: calc(9/5);
  position: relative;
  margin: auto;
  margin-top: 30px;
  background-image: url(../assets/laptopBackground.svg);
  background-size: cover;
  display: none;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb #websitePreview{
  position: absolute;
  top: 30px;
  bottom : 40px;
  left: 110px;
  right: 100px;
  overflow-y: scroll;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb #websitePreview::-webkit-scrollbar{
  display: none;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb #websitePreview img{
  width: 100%;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivMob{
  position: relative;
  margin: auto;
  padding: 25px;
  height: 85%;
  aspect-ratio: calc(2.6/5);
  display: block;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivMob #websitePreview{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}


.App #dialogDiv #websitePreviewDialog #websiteDesignDivMob #websitePreview::-webkit-scrollbar{
  display: none;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivMob #websitePreview img{
  position: relative;
  width: 100%;
}

.App #dialogDiv #websitePreviewDialog #websiteDesignDivMob #frame{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}

.App .loader{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.App #switchSlideBtns{
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
}

.App #switchSlideBtns #leftBtn{
  margin-right: auto;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.251);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.App #switchSlideBtns #rightBtn{
  margin-left: auto;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.251);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.App #switchSlideBtns #leftBtn:hover, .App #switchSlideBtns #rightBtn:hover{
  transform: scale(1.1);
}

@media (max-width : 420px) {
  nav {
    width: 90%;
    margin-right: auto;
  }

  nav p {
    margin: auto auto auto 0px;
    padding : 0px;
    font-size: 12px;
    line-height: 30px;
  }

  .App .marquee #psd img {
    height: 16px;
  }

  .App #starAndExperience #sideStar {
    width: 188px;
    height: 188px;
    right: -25px;
    bottom: -88px;
  }

  .App #scrollToTopButton {
    bottom: 30px;
    right: 30px;
  }
  .App #scrollToTopButton img {
    width: 45px;
    height: 45px;
  }

  .App #lineAndWork #lineShape {
    display: none;
  }

  .App #dialogDiv #brandIdentityPreviewDialog #images{
    max-width: 50%;
  }

  .App #dialogDiv #sliderImageViewDialog img{
    max-width: 95%;
    max-height: 95%;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
    display: none;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivMob{
    display: block;
  }
}

@media (min-width : 421px) and (max-width: 480px) {
  nav {
    width: 90%;
    margin-right: auto;
  }

  nav p {
    margin: auto auto auto 0px;
    padding-top: 5px;
  }

  .App .marquee #psd img {
    height: 20px;
  }

  .App #starAndExperience #sideStar {
    width: 188px;
    height: 188px;
    right: -25px;
    bottom: -88px;
  }

  .App #scrollToTopButton {
    bottom: 30px;
    right: 30px;
  }
  .App #scrollToTopButton img {
    width: 45px;
    height: 45px;
  }

  .App #lineAndWork #lineShape {
    display: none;
  }

  .App #dialogDiv #videoPreviewDialog iframe{
    max-width: 95%;
    max-height: 95%;
  }

  .App #dialogDiv #sliderImageViewDialog img{
    max-width: 95%;
    max-height: 95%;
  }

  .App #dialogDiv #brandIdentityPreviewDialog #images{
    max-width: 90%;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
    display: none;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivMob{
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    width: 85%;
  }
  .App .marquee #psd img {
    height: 25px;
  }

  .App #starAndExperience #sideStar {
    width: 248px;
    height: 248px;
    right: -35px;
    bottom: -98px;
  }

  .App #scrollToTopButton {
    bottom: 40px;
    right: 40px;
  }
  .App #scrollToTopButton img {
    width: 50px;
    height: 50px;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
    display: none;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivMob{
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    width: 70%;
  }
  .App .marquee #psd img {
    height: 30px;
  }
  .App #starAndExperience #sideStar {
    width: 350px;
    height: 350px;
    right: -45px;
    bottom: -150px;
  }

  .App #scrollToTopButton {
    bottom: 50px;
    right: 50px;
  }
  .App #scrollToTopButton img {
    width: 55px;
    height: 55px;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
    width: 700px;
  }
  
  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb #websitePreview{
    top: 20px;
    bottom : 35px;
    left: 85px;
    right: 80px;
  }
}

@media (min-width: 1440px) {
  nav {
    width: 50%;
  }

  nav p {
    font-size: 18px;
  }

  nav img {
    width: 40px;
    height: 40px;
  }

  .App .marquee #psd img {
    height: 40px;
  }
  .App #starAndExperience #sideStar {
    width: 500px;
    height: 500px;
    bottom: -240px;
    right: -55px;
  }
  .App #scrollToTopButton {
    bottom: 50px;
    right: 50px;
  }
  .App #scrollToTopButton img {
    width: 70px;
    height: 70px;
  }

  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb{
    width: 1100px;
  }
  
  .App #dialogDiv #websitePreviewDialog #websiteDesignDivWeb #websitePreview{
    top: 25px;
    bottom : 50px;
    left: 135px;
    right: 125px;
  }
}