@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.App {
  text-align: center;
  font-family: "Mersad", sans-serif;
  position: relative;
  display: block;
  overflow: clip;
}

.darkThemeFont {
  color: white;
}

.lightThemeFont {
  color: #181a18;
}

.darkThemeFont:hover {
  color: white;
}

.lightThemeFont:hover {
  color: #181a18;
}

.App #darkBackground {
  width: 100%;
  height: 100%;
  background-color: #221e1e;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.App #lightBackground {
  width: 100%;
  height: 100%;
  background-color: #f3ece7;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: right;
  z-index: 1;
  position: relative;
  margin-left: auto;
  padding-top: 30px;
}

nav a {
  margin: auto;
  text-decoration: none;
}

nav p {
  text-align: center;
  display: inline-block;
  font-family: "Mersad";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-transform: uppercase;
  cursor: pointer;
}

nav p:hover {
  font-weight: 600;
  transform: scale(1.1);
}

nav img {
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
}

nav img:hover {
  transform: scale(1.3);
}

.App .marquee {
  position: relative;
}

.backgroundLight {
  background-color: #d9d9d9;
}

.backgroundDark {
  background-color: #3d3d3d;
}

.App .marquee #psd {
  display: flex;
  border: none;
  outline: none;
  padding: 20px 0px;
  margin-top: 80px;
}

.App .marquee #psd img {
  display: block;
  margin-right: 22px;
  height: 36px;
}

.App #starAndExperience {
  width: 100%;
  position: relative;
}

.App #starAndExperience #sideStar {
  position: absolute;
  width: 450px;
  height: 450px;
  right: -50px;
  bottom: -220px;
}

.App #lineAndWork {
  width: 100%;
  position: relative;
}

.App #lineAndWork #lineShape {
  position: absolute;
  width: 200px;
  height: 425px;
  left: -20px;
  bottom: -125px;
  z-index: 0;
}

.App #themeChangeMask {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App #scrollToTopButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  display: none;
}

.App #scrollToTopButton img {
  width: 60px;
  height: 60px;
}

.buttonBackgroundDark {
  background-color: #221e1e;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 4px #aaa;
  -moz-box-shadow: 0 0 20px 4px #aaa;
  box-shadow: 0px 0px 20px 4px #aaa;
}

.buttonBackgroundLight {
  background-color: #f3ece7;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 4px gray;
  -moz-box-shadow: 0 0 20px 4px gray;
  box-shadow: 0px 0px 20px 4px gray;
}

@media (max-width: 480px) {
  nav {
    width: 90%;
    margin-right: auto;
  }

  nav p {
    margin: auto auto auto 0px;
  }

  .App .marquee #psd img {
    height: 20px;
  }

  .App #starAndExperience #sideStar {
    width: 188px;
    height: 188px;
    right: -25px;
    bottom: -88px;
  }

  .App #scrollToTopButton {
    bottom: 30px;
    right: 30px;
  }
  .App #scrollToTopButton img {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    width: 85%;
  }
  .App .marquee #psd img {
    height: 25px;
  }

  .App #starAndExperience #sideStar {
    width: 248px;
    height: 248px;
    right: -35px;
    bottom: -98px;
  }

  .App #scrollToTopButton {
    bottom: 40px;
    right: 40px;
  }
  .App #scrollToTopButton img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    width: 70%;
  }
  .App .marquee #psd img {
    height: 30px;
  }
  .App #starAndExperience #sideStar {
    width: 350px;
    height: 350px;
    right: -45px;
    bottom: -150px;
  }

  .App #scrollToTopButton {
    bottom: 50px;
    right: 50px;
  }
  .App #scrollToTopButton img {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 1440px) {
  nav {
    width: 50%;
  }

  nav p {
    font-size: 18px;
  }

  nav img {
    width: 40px;
    height: 40px;
  }

  .App .marquee #psd img {
    height: 40px;
  }
  .App #starAndExperience #sideStar {
    width: 500px;
    height: 500px;
    bottom: -240px;
    right: -55px;
  }
  .App #scrollToTopButton {
    bottom: 50px;
    right: 50px;
  }
  .App #scrollToTopButton img {
    width: 70px;
    height: 70px;
  }
}
