@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(10%);
  }
  20% {
    transform: translateY(20%);
  }
  30% {
    transform: translateY(30%);
  }
  40% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(60%);
  }
  70% {
    transform: translateY(70%);
  }
  80% {
    transform: translateY(80%);
  }
  90% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(100%);
  }
}

.fadeInRightAnimation {
  animation: fadeInRight;
  animation-duration: 0.5s;
}

.fadeInRightAnimation2x {
  animation: backInRight;
  animation-duration: 0.8s;
}

#work {
  width: 90%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  z-index: 1;
}

#work #head {
  font-size: 110px;
  text-align: left;
  line-height: 110px;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 0px;
  cursor: default;
}

#work #navAndContent {
  display: flex;
  margin-top: 80px;
}

#work #navAndContent #nav {
  width: 30%;
}

#work #navAndContent #nav p {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 0px;
  text-align: left;
  cursor: pointer;
}

#work #navAndContent #nav p:hover {
  font-weight: 600;
}

#work #navAndContent #workContent {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -30px;
}

#work #navAndContent #workContent #workEntity {
  margin-top: 30px;
  position: relative;
}

#work #navAndContent #workContent #workEntity img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  cursor: pointer;
}

#work #navAndContent #workContent #workEntity #nameAndYear {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#work #navAndContent #workContent #workEntity #nameAndYear p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: default;
}

#work #navAndContent #workContent #workEntity #nameAndYear span {
  font-size: 14px;
  line-height: 20px;
  margin-left: auto;
  font-weight: 300;
  cursor: default;
}

#work #navAndContent #workContent #workEntity #type {
  width: 95%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin: 5px auto 0px;
  font-weight: 400;
  cursor: default;
}

@media (max-width: 420px) {
  #work {
    padding-top: 80px;
  }
  #work #head {
    font-size: 46px;
    line-height: 58px;
  }
  #work #navAndContent {
    margin-top: 30px;
    display: block;
  }
  #work #navAndContent #nav {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 20px 0px 0px;
    padding: 0px 0px 10px;
  }

  #work #navAndContent #nav p {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    width: fit-content;
    padding: 0px 20px;
  }

  #work #navAndContent #workContent{
    width: 100%;
    margin-top: 0px;
  }

  #work #navAndContent #workContent #workEntity img,
  #work #navAndContent #workContent #workEntity #nameAndYear {
    width: 95%;
  }
  #work #navAndContent #workContent #workEntity #nameAndYear{
    height: 30px;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear p {
    font-size: 10px;
    line-height: 14px;
    text-align: left;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear span {
    font-size: 10px;
    line-height: 14px;
    margin-left: 15px;
    text-align: right;
  }

  #work #navAndContent #workContent #workEntity #type {
    width: 92%;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (min-width: 421px) and (max-width: 580px) {
  #work {
    padding-top: 80px;
  }
  #work #head {
    font-size: 65px;
    line-height: 70px;
  }
  #work #navAndContent {
    margin-top: 30px;
    display: block;
  }
  #work #navAndContent #nav {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 40px 0px 0px;
    padding: 20px 0px 10px;
  }

  #work #navAndContent #nav p {
    font-size: 15px;
    line-height: 17px;
    display: inline-block;
    width: 180px;
  }

  #work #navAndContent #workContent{
    width: 100%;
    margin-top: 25px;
  }

  #work #navAndContent #workContent #workEntity img,
  #work #navAndContent #workContent #workEntity #nameAndYear {
    width: 92%;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear p {
    font-size: 10px;
    line-height: 14px;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear span {
    font-size: 12px;
    line-height: 14px;
  }

  #work #navAndContent #workContent #workEntity #type {
    width: 92%;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  #work {
    padding-top: 100px;
  }
  #work #head {
    font-size: 72px;
    line-height: 82px;
  }
  #work #navAndContent {
    margin-top: 30px;
    display: block;
  }
  #work #navAndContent #nav {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 40px 0px 0px;
    padding: 20px 0px 10px;
  }

  #work #navAndContent #nav p {
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
    width: 200px;
  }

  #work #navAndContent #workContent{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  #work #navAndContent #workContent #workEntity img,
  #work #navAndContent #workContent #workEntity #nameAndYear {
    width: 94%;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear p {
    font-size: 12px;
    line-height: 16px;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear span {
    font-size: 13px;
    line-height: 16px;
  }

  #work #navAndContent #workContent #workEntity #type {
    width: 94%;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #work #head {
    font-size: 85px;
    line-height: 93px;
  }

  #work #navAndContent{
    margin-top: 50px;
  }

  #work #navAndContent #nav{
    width: 35%;
  }

  #work #navAndContent #workContent{
    width: 65%;
    margin-top: -20px;
  }

  #work #navAndContent #nav p {
    font-size: 17px;
    line-height: 28px;
  }

  #work #navAndContent #workContent #workEntity {
    margin-top: 20px;
  }

  #work #navAndContent #workContent #workEntity img,
  #work #navAndContent #workContent #workEntity #nameAndYear {
    width: 95%;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear p {
    font-size: 10px;
    line-height: 16px;
  }

  #work #navAndContent #workContent #workEntity #nameAndYear span {
    font-size: 10px;
    line-height: 16px;
  }

  #work #navAndContent #workContent #workEntity #type {
    width: 95%;
    font-size: 10px;
    line-height: 16px;
  }
}

@media (min-width : 1440px) {
    #work #head {
      font-size: 120px;
      line-height: 128px;
    }
  
    #work #navAndContent #nav p {
      font-size: 22px;
      line-height: 38px;
    }
  
    #work #navAndContent #workContent #workEntity {
        width: 100%;
      margin-top: 30px;
      margin-right: 0px;
    }

    #work #navAndContent #workContent #workEntity #nameAndYear p {
      font-size: 18px;
      line-height: 24px;
    }
  
    #work #navAndContent #workContent #workEntity #nameAndYear span {
      font-size: 16px;
      line-height: 24px;
    }
  
    #work #navAndContent #workContent #workEntity #type {
      font-size: 16px;
      line-height: 24px;
    }
  }  